**IoP Lecture 1. Exercises.**

Week 1. Formative Exercise #1. 
================

Below are a series of exercises. You are expected to complete all of them. Please submit your file through Canvas. 

Remember to name this file correctly. So if your name is "Alan Turing", the file you submit should be:
Turing_Alan_IoP18_Week01_Exercises.ipynb

Be careful that the extension is not .json. **Save the file now with the right name where it says Last_First before you continue.**

In [2]:
# String manipulation 1. Printing strings

# Please print your name in the output. 
# Use two variables, FIRST and LAST. 
# If your name does not work with these variables, 
# then adjust how you print it, but do not destroy FIRST and LAST.


# ANSWER BELOW HERE
#*********************************

FIRST = 'Sarah ' 
LAST =  'Stewart'
print(FIRST+LAST)

Sarah Stewart

In [ ]:
# Instructor comments below here. 
#*********************************

mark_q1 = None  # out of 2.

In [10]:
# String manuipulation 2. Special string characters

# Print your name like the following example (including the spaces) WITHOUT using three quotes. 
# Use one line for your code and replace your name below where appropriate.  
'''
Hi there, my name is Bernard Hogan.

You can call me "Bernie".
'''
#########
# Code to be altered: 

# ANSWER BELOW HERE

print('Hi there, my name is Sarah Stewart. \nYou can call me \"Sarah\".')

Hi there, my name is Sarah Stewart.
You can call me "Sarah".

In [ ]:
# Instructor comments below here. 
#*********************************

mark_q2 = None  # out of 2.

In [10]:
# String manipulation 3. Concatenating

v1 = "Happy Birthday"
v2 = "to you"
v3 = "dear"

# Using the variables above, whitespace characters and your FIRST name, print the lyrics to Happy Birthday.
# This would be 
'''
Happy Birthday to you
Happy Birthday to you 
Happy Birthday dear Example
Happy Birthday to you
'''
# ANSWER BELOW HERE

FIRST = 'Sarah '
v1 = 'Happy Birthday '
v2 = 'to you!'
v3 = ' dear '

print((v1+v2)+(v1+v2)+(v1+v3)+FIRST+(v1+v2))

Happy Birthday to you!Happy Birthday to you!Happy Birthday  dear Sarah Happy Birthday to you!

In [ ]:
# Instructor comments below here. 
#*********************************

mark_q3 = None  # out of 2.

In [15]:
# String manipulation 4. Transforming

# Messing with cases. 

v1 = "Make this upper case!"
v2 = "Make this lower case."
v3 = "Make this title case."

# ANSWER BELOW HERE

print(v1.upper())
print(v2.lower())
print(v3.title())

MAKE THIS UPPER CASE!
make this lower case.
Make This Title Case.

In [ ]:
# Instructor comments below here. 
#*********************************

mark_q4 = None  # out of 3.

In [21]:
# Number manipulation 1. Integers 

# The number 16! 
# Print six different ways to get the number sixteen as a result of
# using five different operators you come up with plus the one example. 

# ANSWER BELOW HERE
# To get you started:

print("To get 16 you can use the * operator:", 4*4)
print('To get 16 you can use the + operator:', 10+6)
print('To get 16 you can use the - operator:', 20-4)
print('To get 16 you can use the // operator:', 64//4)
print('To get 16 you can use the ** operator:', 2**4)

To get 16 you can use the * operator: 16
To get 16 you can use the + operator: 16
To get 16 you can use the - operator: 16
To get 16 you can use the // operator: 16
To get 16 you can use the ** operator: 16

In [ ]:
# Instructor comments below here. 
#*********************************


mark_q5 = None  # out of 3.

In [23]:
# Number manipulation 2. Floating point numbers 

# Generate two fractions that together would compute a whole number 
# where the two fractions themselves have repeating digits. 
# The example from class used 1/3 + 1/3 + 1/3 = 1.0.
# Print the two numbers, combine them, then print the result. D
# Does the result print as a whole number? Can you find one that doesn't? (optional) 

# ANSWER BELOW HERE

x=3/4
y=1/4
print(x)
print(y)
print(x+y)

0.75
0.25
1.0

In [ ]:
# Instructor comments below here. 
#*********************************

mark_q6 = None  # out of 2.

In [ ]:
# Dictionary manipulation 1. 

# Build a dictionary with three items where the KEY is a country and the VALUE is the capital. 
# Print the capitals by querying the keys. 

# ANSWER BELOW HERE

example_dict

In [ ]:
# Instructor comments below here. 
#*********************************

mark_q7 = None  # out of 3.

In [ ]:
# Dictionary manipulation 2. 

# Here is a dictionary

d2 = {"Red":"Apple", "Yellow":"Banana", "Orange":"Orange"}

# Replace the 'apple' value with 'cherry' by assigning a new value.
# Print all of the items. 

# ANSWER BELOW HERE

In [ ]:
# Instructor comments below here. 
#*********************************

mark_q8 = None  # out of 2.

In [ ]:
# Dictionary manipulation 3. 

# Here is a dictionary

d3  = {"a":"alpha", "b":"bravo", "c":"charlie", "d":"delta", "e":"echo", "f":"foxtrot"}

# By querying this dictionary one item at a time, print out an acrostic.
# For example, if you wanted to print "beef" it would look like:
# bravo
# echo
# echo
# foxtrot

# ANSWER BELOW HERE

In [ ]:
# Instructor comments below here. 
#*********************************

mark_q9 = None   # out of 3.

In [ ]:
# List manipulation 1. 

# Here is a list 

messy_list = ["third","first","second","fourth","sixth"]

# messy_list is a mess and needs to be in the correct order. 
# Create a new list, clean_list, with the elements in the right order.
# Include a zeroth and a fifth element, but otherwise, use list indices from messy_list
# to insert elements into clean_list. Print the new list. 

# ANSWER BELOW HERE

In [1]:
# Instructor comments below here. 
#*********************************

mark_q10 =  None # out of 3.

In [ ]:
totalmark = mark_q1 + mark_q2 + mark_q3 + mark_q4 + mark_q5 + mark_q6 + mark_q7 + mark_q8 + mark_q9 + mark_q10

print("The total mark is %d out of a possible 25" % (totalmark) )